<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dsm.android.v3">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".presentation.di.app.BaseApp"
            android:allowBackup="true"
            android:icon="@mipmap/dms_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/dms_logo_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name="dsm.android.v3.ui.activity.applyMusic.ApplyMusicDomActivity">
        </activity>
        <activity
                android:name="dsm.android.v3.ui.activity.signIn.SignInActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name="dsm.android.v3.ui.activity.introduceTeam.IntroDeveloperActivity"
                android:theme="@style/AppTheme"/>
        <activity
                android:name="dsm.android.v3.ui.activity.splash.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="dsm.android.v3.ui.activity.main.MainActivity"/>
        <activity android:name="dsm.android.v3.ui.activity.register.RegisterActivity"/>

        <activity
                android:name="dsm.android.v3.ui.activity.pointLog.PointLogActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name="dsm.android.v3.ui.activity.changePassword.ChangePasswordActivity">
        </activity>
        <activity android:name="dsm.android.v3.ui.activity.applyGoingOut.ApplyGoingActivity">
        </activity>
        <activity android:name="dsm.android.v3.ui.activity.applyGoingOutLog.ApplyGoingLogActivity"/>
        <activity android:name="dsm.android.v3.ui.activity.applyGoingOutDoc.ApplyGoingDocActivity"/>
        <activity android:name="dsm.android.v3.ui.activity.applyGoingOutEdit.ApplyGoingEditActivity"/>
        <activity android:name="dsm.android.v3.ui.activity.applyStaying.ApplyStayingActivity">
        </activity>
        <activity android:name="dsm.android.v3.ui.activity.applyExtensionStudy.ApplyExtensionStudyActivity">
        </activity>
        <activity android:name="dsm.android.v3.ui.activity.notice.NoticeActivity"/>
    </application>
</manifest>